username = {{ (bitwarden "item" "868da474-64a6-4a12-b1f4-fb7a4bfb8798").login.username }}
password = {{ (bitwarden "item" "868da474-64a6-4a12-b1f4-fb7a4bfb8798").login.password }}
token = {{ (bitwardenFields "item" "868da474-64a6-4a12-b1f4-fb7a4bfb8798").token.value }}
